body {
  margin: 0;
  background: black;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

h2 {
  animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
